<section class="view-player">
    <div class="player-details">
        <span class="player-details-title"></span>
        <img class="player-details-image" src="" />
    </div>
    <div class="player-scrubber">
        <div class="player-scrubber-pane">
            <div class="back"></div>
            <div class="front"></div>
            <div class="handle"></div>
        </div>
        <div class="player-scrubber-time">
            <span class="from"></span>
            <span class="to"></span>
        </div>
    </div>
    <div class="player-controls">
        <a href="" class="icon player-back"></a>
        <a href="" class="icon player-play"></a>
        <a href="" class="icon player-pause"></a>
        <a href="" class="icon player-forward"></a>
    </div>
    <div class="player-misc">
        <a href="" class="player-subtitles">
            <i class="icon icon-cc"></i>
            <span></span>
        </a>
        <a href="" class="player-output">
            <i class="icon icon-speaker"></i>
            <span></span>
        </a>
    </div>
</section>
