<div class="player-details">
    <% if(type === 'spotify') { %>
    <% if(track) { %>
    <% if(track.get('artists')){ %>
    <span class="artist"><%= track.get('artists').first().get('name') %></span>
    <% } %>
    <span class="name"><%= track.get('name') %></span>
    <% if(track.get('image')) { %>
    <img class="image" src="<%= track.get('image') %>"/>
    <% } %>
    <% } %>
    <% } %>

    <% if(type === 'radio') { %>
    <% if(station) { %>
    <span class="artist"><%= station.get('name') %></span>
    <% if(title){ %>
    <span class="name"><%= title %></span>
    <% } %>
    <% if(station.get('image')) { %>
    <img class="image" src="<%= station.getImage() %>"/>
    <% } %>
    <% } %>
    <% } %>
</div>
<div class="player-mobile">
    <% if(state === 'playing') { %>
    <a href="#" data-player-control="toggle" class="player-pause"><i class="icon icon-pause-small"></i></a>
    <% } else { %>
    <a href="#" data-player-control="toggle" class="player-play"><i class="icon icon-play-small"></i></a>
    <% } %>
    <% if(type !== 'radio') { %>
    <a href="#" class="player-expand"><i class="icon icon-arrow-up"></i></a>
    <% } %>
</div>
<% if(type !== 'radio') { %>
<div class="player-scrubber">
    <input class="player-scrubber-pane" type="range" min="0" max="100" value="<%= position || 0 %>"/>
    <div class="player-scrubber-progress" style="width:<%= position || 0 %>%"></div>
    <div class="player-scrubber-time">
        <span class="from"></span>
        <span class="to"></span>
    </div>
</div>
<% } %>
<div class="player-controls">
    <% if(type === 'spotify') { %>
    <div class="player-controls-main">
        <a href="#" data-player-control="previous" class="player-previous icon icon-previous"></a>
        <% if(state === 'playing') { %>
        <a href="#" data-player-control="toggle" class="player-pause icon icon-pause"></a>
        <% } else { %>
        <a href="#" data-player-control="toggle" class="player-play icon icon-play"></a>
        <% } %>
        <a href="#" data-player-control="next" class="player-next icon icon-next"></a>
    </div>
    <div class="player-controls-additional">
        <a href="#" data-player-control="shuffle" class="player-shuffle"><i
            class="icon icon-shuffle<%= shuffle ? '-active' : '' %>"></i></a>
        <a href="#" data-player-control="repeat" class="player-repeat"><i
            class="icon icon-repeat<%= repeat ? '-active' : '' %>"></i></a>
    </div>
    <% } %>

    <% if(type === 'radio') { %>
    <% if(state === 'playing') { %>
    <a href="#" data-player-control="toggle" class="player-pause icon icon-pause"></a>
    <% } else { %>
    <a href="#" data-player-control="toggle" class="player-play icon icon-play"></a>
    <% } %>
    <% } %>
</div>
<div class="player-misc">
    <a href="#" class="icon player-subtitles">
        <i class="icon icon-cc"></i>
        <span></span>
    </a>
    <a href="#" class="icon-player-output">
        <i class="icon icon-speaker"></i>
        <span></span>
    </a>
</div>
<a href="#" class="player-collapse"><i class="icon icon-arrow-down"></i></a>
