<div class="list-item list-item-track" data-play-id="<%= model.get('uri') %>" data-play-type="spotify">
    <a href="#" class="item-action <%= model.get('starred') ? 'unstar' : 'star' %>"><i class="icon"></i></a>
    <div class="artists">
        <% model.get('artists').each(function(artist, index){ %><%= index > 0 ? ', ' : '' %><a
        href="<%= artist.getUrl() %>"><%= artist.get('name') %></a><% }) %>
    </div>
    <div class="details" data-play>
        <div class="name"><i class="icon icon-play-circle"></i><%= model.get('name') %></div>
        <div class="duration"><%= model.getDuration() %></div>
    </div>
</div>
