<section class="view-music-browse-artist">
    <section class="view-search-container page-wrapper"></section>

    <div class="view-artist page-wrapper"></div>

    <div class="page-wrapper">
        <div class="popular-tracks">
            <h2>Popularne</h2>
            <div class="view-tracks"></div>
            <a href="#" class="button">
                <span class="active">ukryj</span>
                <span class="inactive">pokaż</span> więcej
            </a>
        </div>
    </div>

    <div class="artist-albums page-wrapper">
        <h2>Albumy</h2>
        <div class="view-albums"></div>
    </div>
</section>
