<section class="view-music-radio page-wrapper">
    <section class="view-search-container"></section>


    <div class="items-list radios-list">
        <% radios.each(function(radio){ %>
        <a href="#" class="list-item list-item-radio">
            <div class="image">
                <img src="<%= radio.get('image') %>"/>
            </div>
            <div class="name"><%= radio.get('name') %></div>
            <div class="item-action <%= radio.get('starred') ? 'unstar' : 'star' %>"><i class="icon"></i></div>
        </a>
        <% }) %>
    </div>
</section>
