<section class="view-music page-wrapper">
    <section class="view-search-container"></section>
    <div class="your-radios">
        <header>
            <h2>Radio</h2>
            <a href="#!/music/radio" class="browse browse-radios"><i class="icon icon-radio"></i>Przeglądaj</a>
        </header>

        <div class="view-radios"></div>
    </div>
    <div class="your-spotify">
        <header class="spotify-header">
            <h2>Spotify</h2>
            <a href="#!/music/browse" class="browse browse-spotify"><i class="icon icon-spotify"></i>Przeglądaj</a>
        </header>

        <div class="your-playlists">
            <h3>Twoje playlisty</h3>

            <div class="view-playlists"></div>
        </div>

        <div class="your-tracks">
            <h3>Twoje utwory</h3>

            <div class="view-tracks"></div>
        </div>
    </div>
</section>
